body{
    background-color: black;
    font-family: 'Darker Grotesque', sans-serif;
}
#title{
    color: white;
    font-size:25px;
    
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
/* #main{
    margin-left: 20px;
    width: 50%;
} */
#no{
    color: blue;
}
#det{
    color:#fff;
    opacity: 0.5;
    font-size: 25px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
#dob{
    position: absolute;
width: 234px;
height: 16px;
left: -34px;
top: 364px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
#date{
    position: absolute;
width: 277px;
height: 39px;
left: -25px;
top: 386px;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
#v1{
    position: absolute;
width: 73px;
height: 20px;
left: 31px;
top: 520px; 
text-align: center;
background: #F7E43C;
border-radius: 25px;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
}
#v2{
    position: absolute;
width: 73px;
 height: 20px;
left: 116px;
top: 520px; 
text-align: center;
background: #F7953C;
border-radius: 25px;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
}
#v3{
    position: absolute;
width: 73px;
height: 20px;
left: 201px;
top: 520px; 
text-align: center;
background: #7E7CD5;
border-radius: 25px;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
}
#img1{
      
    width: 188px;
    height: 188px;
    left: 25%;
    position: absolute;
    top: 10%;
    
    background: url(maninder.png);
    background-repeat: no-repeat;
}    
h2{
    position: absolute;
    width: 277px;
    height: 39px;
    left: 56px;
    top: 288px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    
    color: #FFFFFF;
}
#bus{
    
    font-size: 15px;
    position: absolute;
width: 234px;
height: 16px;
left: 78px;
top: 325px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
#aller{
    position: absolute;
width: 234px;
height: 16px;
left: -52px;
top: 419px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
#ast{
    position: absolute;
width: 277px;
height: 39px;
left: -65px;
top: 441px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
#vaci{
    position: absolute;
width: 234px;
height: 16px;
left: -9px;
top: 474px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
#blo{
    position: absolute;
width: 234px;
height: 16px;
left: -42px;
top: 538px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
#bla{
    position: absolute;
width: 277px;
height: 39px;
left: -80px;
top: 560px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
#emer{
    position: absolute;
width: 234px;
height: 16px;
left: -5px;
top: 596px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
#con1{
    position: absolute;
width: 277px;
height: 39px;
left: 7px;
top: 618px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
#con2{
    position: absolute;
width: 277px;
height: 39px;
left: 22px;
top: 680px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 20px;
text-align: center;

color: #FFFFFF;
}
#cuca{
    position: absolute;
width: 234px;
height: 16px;
left: 13px;
top: 750px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;

opacity: 0.5;
}
#cuno{
    position: absolute;
width: 277px;
height: 39px;
left: -60px;
top: 770px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}
#no{
    left:-20px;
}

